<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <title>İstihare</title>
</head>
<body>
  <h1>İstihare Tarifi</h1>
  <ol>
    <li>Besmele ile 3 Fatiha okunacak.</li>
    <li>Besmele ile 3 Ayetelkürsi okunacak.</li>
    <li>Besmele ile 3 İhlas okunacak.</li>
    <li>Salevât okunacak.</li>
    <li>Besmele ile bir kere "Ve indchû mefâtihulgaybi lâ ya'lemuhâ illâ Hû" ayeti kerimesi okunacak.</li>
    <li>Bir kere de: "Allâhümme innî tefe'altetü bi kitâbikel-kerîm..." diye dua edilecek.</li>
  </ol>
  <button id="start">İstihare Yap</button>
  <pre id="result"></pre>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
